{% extends "base.html" %}
{% block content %}
    <h1>Banco</h1>

    <p align="right">
        
        Buscar: <input id ="search-bar" onkeyup="searchEngine()" type="search" name="busqueda" placeholder="Buscar">
        &nbsp&nbsp&nbsp&nbsp
        <button><a onclick="javascript:generatePDF('miTabla');"><i class="fa fa-print" aria-hidden="true"></i></a></button>
    </p>
    
    <table>
        <tr>
            <td>
                {% if session['rol'] in ['admin', 'shopping-manager'] %}
                <h5>Agregar Credito</h5>
                <form action="/bank/add-credit" method="post">
                    <input type="number" step="0.01" name="amount">
                    <input type="submit" value="+">
                </form>
                {% endif %}
            </td>
            <td>
                <h5>Filtrar por Rango</h5>
                <input type="date" id="from-date">
                <input type="date" id="to-date">
                <button onclick="filterByDate('table-body-data', 'from-date', 'to-date', 2)">Ir</button>
            </td>
        </tr>
    </table>
    

    <p>{{ status }}</p>
    <table class="table content-table" id="miTabla">            
        <thead>
            <th>ID</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Concepto</th>
            <th>Monto</th>
        </thead>

        <tbody id = table-body-data>
        {% for bank in banks %}
        <tr>
            <td>{{ bank.id }}</td>
            <td>{{ bank.date }}</td>
            <td>{{ bank.time }}</td>
            <td>{{ bank.description }}</td>
            <td>{{ bank.amount }}</td>
        </tr>                
        {% endfor %}
        <tr>
            <th scope="row" colspan="5" style="text-align: right;" step=".01">Suma Total: {{total_cantidad}}</th>
        </tr> 
    </tbody>
    </table>
{% endblock %}