{% extends "base.html" %}
{% block content %}
    <h1>Banco</h1>

    <p>{{ status }}</p>
        <table class="table content-table" id="miTabla">            
            <thead>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Concepto</th>
                <th>Monto</th>
            </thead>

    <tbody id = table-body-data>
    {% for bank in banks %}
    <tr>
        <td>{{ bank.id }}</td>
        <td>{{ bank.date }}</td>
        <td>{{ bank.time }}</td>
        <td>{{ bank.description }}</td>
        <td>{{ bank.amount }}</td>
    </tr>                
    {% endfor %}
    </tbody>
</table>
{% endblock %}