{% extends "base.html" %}
{% block content %}
    <h2>Portafolio de Cosechas</h2>

<button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nueva Compra</button>
    
<section id="create-form" class="h-100" hidden="true">

    <h3>Datos de la Compra</h3>

    <form method="POST" id="create-new-shopping" action="/shoppings/create">            

    <label>Fecha</label>
    <input class="form-control" type="date" name="fecha" required/>                    
    <label>Cedula</label>
    <input class="form-control" type="text" name="cedula"  required/>

    <label>Tipo de Recolector</label>
    <select class="form-select" name="productor_type" form="create-new-shopping">
        <option disabled>Seleccionar</option>
        {% for type in tips_product %}
        <option value="{{ type.description }}">{{ type.description }}</option>
        {% endfor %}
    </select>

    <label>Clase</label>
    <input class="form-control" type="text" name="clase"  required/>

<!--Referencia a TypeRecolector -- FOR-->
    <label>Precio($)</label>
    <input class="form-control" type="number" name="price" step=".01" required/>
<!--end FOR-->

    <label>Cantidad(Kg)</label>
    <input class="form-control" type="text" name="cant" required/>
    <label>Humedad(%)</label>
    <input class="form-control" type="text" name="humed"  required/>
    <label>Merma(%)</label>
    <input class="form-control" type="text" name="merma"  required/>
    <label>Merma(Kg)</label>
    <input class="form-control" type="text" name="mermakg"  required/>
    <label>Cantidad Total(Kg)</label>
    <input class="form-control" type="text" name="cantot"  required/>
    <label>Monto($)</label>
    <input class="form-control" type="text" name="monto"  required/>
    

    <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
    <a class="abord" onclick="hiddeForm()">Cancelar</a>
    </form>
</section>
{% endblock %}