{% extends "base.html" %}
{% block content %}
    <h1>Cosecha: {{harvest.description}}</h1>
    <h2>Lista de Recolecores Financiados</h2>

    <p align="right">
        
        Buscar: <input id ="search-bar" onkeyup="searchEngine()" type="search" name="busqueda" placeholder="Buscar">
        &nbsp&nbsp&nbsp&nbsp
        <!-------------------- HACER FUNCION DE IMPRIMIR ------------>
        <button onclick='print("Financing", "miTabla")'><i class="fa fa-print" aria-hidden="true"></i></button>
    </p>  
     


    <p>{{ status }}</p>
        <table class="table content-table" id="miTabla">
            
            <thead>
                <th>ID</th>
                <th>Fecha</th>
                <th>Cédula</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Telefono Local</th>
                <th>Telefono Celular</th>
                <th>Direccion</th>
                <th>Tipo de Recolector</th>
                <th>No. Letra de Cambio</th>
                <th>F. De Vencimiento</th>
                <th>Monto</th>
                <th>Pagó</th>
                <th></th>

            </thead>
            <tbody id="table-body-data">
            {% for i in financing %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.date }}</td>
                {% for prod in productors %}
                    {% if prod.id == i.F_Productor %}
                        <td>{{ prod.cedula }} </td>    
                        <td>{{ prod.last_name }} </td> 
                        <td>{{ prod.name }} </td>       
                        <td>{{ prod.local_phone }} </td>
                        <td>{{ prod.movil_phone }} </td>                   
                        <td>{{ prod.address_1 }} </td>  
                        {% for type in productor_types %}
                            {% if type.id == prod.productor_type_id %}
                                <td>{{ type.description }} </td>
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                {%endfor%}
                
                <td>{{ i.letter_number }}</td>
                <td>{{ i.expiration_date }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.payment}}</td>
                <td><button onclick="window.location.href=`/harvest/{{harvest.id}}/financing/{{i.id}}/edit`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Cantidad de Recolectores Beneficiados:</th>
                    <td id="recolectores-beneficiados" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr> 
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Cantidad de Financiamientos Cancelados</th>
                    <td id="financiamientos-cancelados" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Cantidad de Financiamientos No Cancelados:</th>
                    <td id="financiamientos-no-cancelados" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Cantidad de Financiamientos con Plazos Vencidos</th>
                    <td id="plazo-vencido" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Monto Total Cancelado($):</th>
                    <td id="total-cancelado" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Monto Total No Calcelado ($):</th>
                    <td id="total-no-cancelado" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <th scope="row" colspan="9" style="text-align: right;">Monto Total Financiado($):</th>
                    <td id="total" colspan="2">0</td>
                    <th></th><th></th><th></th>
                </tr>
            </tfoot>
        </table>

        <button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nuevo Financiamiento</button>
    
        <section id="create-form" class="h-100" hidden="true">
    
            <h3>Nuevo Financiamiento</h3>
    
            <form method="POST" id="create-new-financing" action="/harvest/{{harvest.id}}/financing/create">
            <input name = "harvest-id"  type="hidden" value="{{harvest.id}}">
            <label>Seleccione el Recolector</label>
            <select name="productor-id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {% for productor in productors %}
                        <option value="{{ productor.id }}" >{{productor.cedula}}, {{productor.name}}</option>
                {% endfor %}
            </select>
            <br>
            <label>Numero de Letra</label>
            <input class="form-control" type="number" name="letter_number" placeholder="Numero de Letra de Cambio" required/>
            <label>Fecha de Expiracion</label>
            <input class="form-control" type="date" name="expiration_date"  required/>
            <label>Monto</label>
            <input class="form-control" type="number" min="0" step=".001" name="amount"  required/>
            <br>
            <label>Pagó</label>
            <select class="form-select" name="payment" form="create-new-financing">
                <option value="" disabled>Seleccionar </option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>    
            <br>
            <label>Observaciones</label>
            <input class="form-control" type="text" name="observations"  required/>


            <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
            <a class="abord" onclick="hiddeForm()">Cancelar</a>
            </form>
    </section>
        
{%endblock%}

{% block scripts %}

<script>
    
$( document ).ready(function() {
    obtenerCantidadDeRecolectores( "recolectores-beneficiados",
    "table-body-data");
    obtenerCantidadYTotalFinanciamiento( "financiamientos-cancelados", 
    "total-cancelado", "table-body-data", 13, "Si", 12 );
    obtenerCantidadYTotalFinanciamiento( "financiamientos-no-cancelados",
    "total-no-cancelado", "table-body-data", 13, "No", 12 );
    obtenerPlazosVencidos( "plazo-vencido", "table-body-data", 11 );
    obtenerTotalFinaciamientos("total", "table-body-data", 12 );
});


</script>

{% endblock %}