{% extends "base.html" %}
{% block content %}
    <h2>Portafolio de Cosechas</h2>
    <p align="right">
        <button onclick="window.location.href=`/harvestFinancing`">Financiamientos</button>
        Buscar: <input id ="search-bar" onkeyup="searchEngine()" type="search" name="busqueda" placeholder="Buscar">
    </p> 
        <p>{{ status }}</p>
        <table class="table content-table fixed-table">
            
            <thead>
                <th>ID</th>
                <th>Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Status</th>
                <th>Modificar</th>
                <th>Eliminar</th>
                <th>Listar Compras</th>
                
                <th>Habilitar/ Cerrar</th>
                <th>Generar Compra</th>

            </thead>
            <tbody id = table-body-data>
            {% for harvest in harvests %}
            <tr>
                <td>{{ harvest.id }}</td>
                <td>{{ harvest.description }}</td>
                <td>{{ harvest.start_date }}</td>
                <td>{{ harvest.end_date }}</td>
                <td>{{ harvest.status }}</td>
                <td><button onclick="window.location.href=`/harvest/edit/{{ harvest.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                <td><button onclick='deleteConfirm( {{ harvest.id }}, "Harvest" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                <td><button onclick='window.location.href=`/harvest/{{ harvest.id }}/purchase`'><i class="fa fa-file-text-o" aria-hidden="true"></i></i></button></td>
                {% if harvest.status == "active" %}
                    <td><button onclick='window.location.href=`/harvest/close/{{ harvest.id }}`'><i class="fa fa-stop" aria-hidden="true"></i></button></td>
                    <td><button type="button" class="" data-toggle="modal" data-target="#modal-{{harvest.id}}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></i></button></td>
                {% else %}
                    <td><button onclick='window.location.href=`/harvest/activate/{{ harvest.id }}`'><i class="fa fa-play" aria-hidden="true"></i></button></td>
                    <td></td>
                {% endif %}
            </tr>                
            
            <!-- Modal -->

            <div class="modal fade" id="modal-{{harvest.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva Compra {{ harvest.description }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="modal-form" action="/harvest/{{harvest.id}}/purchase/create">
                            <input name = "harvest-id"  type="hidden" value="{{harvest.id}}">
                            <label>Clase de Cacao</label>
                            <input class="form-control" type="text" name="cacao-type" required/>
                            <label>Precio ($)</label>
                            <input class="form-control" type="number" min="0" step=".01" name="price-dolar" required/>
                            <label>Cantidad (Kg)</label>
                            <input class="form-control" type="number" min="0" step=".01" name="amount-kg" required/>
                            <label>Humedad (%)</label>
                            <input class="form-control" type="number" min="0" step=".01" name="wetness-percentage" required/>
                            <label>Merma (%)</label>
                            <input class="form-control" type="number" min="0" step=".01" name="waste-percentage" required/>
                            <label>Seleccione el Recolector</label>
                            <div class="form-group form-select">
                                <select name="productor-id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                {% for productor in productors %}
                                        <option value="{{ productor.id }}" >{{productor.cedula}}, {{productor.name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <label>Observaciones</label>
                            <textarea form="modal-form" name="observation" class="form-control" rows="3" ></textarea>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="almond" name="greenAlmond">
                                    <label class="form-check-label" for="checkAlmond">Almendra Verde</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" form="modal-form" class="btn btn-primary">Generar Compra</button>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nueva Cosecha</button>
        <section id="create-form" class="h-100" hidden="true">
    
            <h3>Nueva Consecha</h3>
    
            <form method="POST" id="create-new-harvest" action="/harvest/create">
            
            <label>Descripcion de Cosecha</label>
            <input class="form-control" type="text" name="description" placeholder="Cosecha Mes1 - Mes2" required/>
            <label>Fecha de Inicio</label>
            <input class="form-control" type="date" name="start_date"  required/>
            <label>Fecha de Fin</label>
            <input class="form-control" type="date" name="end_date"  required/>
            <label>Status</label>
            <select class="form-select" name="status" form="create-new-harvest">
                <option value="active">Activo</option>
                <option value="closed">Finalizado</option>
            </select>

            <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
            <a class="abord" onclick="hiddeForm()">Cancelar</a>
            </form>
    </section>

{% endblock %}