{% extends "base.html" %}
{% block content %}
    <h2>Portafolio de Cosechas</h2>
        <p>{{ status }}</p>
        <table class="table content-table fixed-table">
            
            <thead>
                <th>ID</th>
                <th>Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Status</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for harvest in harvests %}
            <tr>
                <td>{{ harvest.id }}</td>
                <td>{{ harvest.description }}</td>
                <td>{{ harvest.start_date }}</td>
                <td>{{ harvest.end_date }}</td>
                <td>{{ harvest.status }}</td>
                <td><button onclick="window.location.href=`/harvest/edit/{{ harvest.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                <td><button onclick='deleteConfirm( {{ harvest.id}}, "Harvest" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                <td><button onclick='window.location.href=`/harvest/close/{{ harvest.id }}`'><i class="fa fa-stop" aria-hidden="true"></i></button></td>
                <td><button onclick='window.location.href=`/harvest/activate/{{ harvest.id }}`'><i class="fa fa-play" aria-hidden="true"></i></button></td>
                <td><button onclick='window.location.href=`/harvest/{{ harvest.id }}/purchase`'><i class="fa fa-file-text" aria-hidden="true"></i></i></button></td>
            </tr>    
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nueva Cosecha</button>
    
        <section id="create-form" class="h-100" hidden="true">
    
            <h3>Nueva Consecha</h3>
    
            <form method="POST" id="create-new-harvest" action="/harvest/create">
            
            <label>Descripcion de Cosecha</label>
            <input class="form-control" type="text" name="description" placeholder="Cosecha Mes1 - Mes2" required/>                    
            <label>Fecha de Inicio</label>
            <input class="form-control" type="date" name="start_date"  required/>
            <label>Fecha de Fin</label>
            <input class="form-control" type="date" name="end_date"  required/>
            <label>Status</label>
            <select class="form-select" name="status" form="create-new-harvest">
                <option value="active">Activo</option>
                <option value="closed">Finalizado</option>
            </select>

            
            <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
            <a class="abord" onclick="hiddeForm()">Cancelar</a>
            </form>
    </section>

{% endblock %}