{% extends 'base.html' %}
{% block content %}
<h3>Logger de Eventos</h3>
<p>
    Buscar: <input id ="search-bar" onkeyup="searchEngine()" type="search" name="busqueda" placeholder="Buscar">
    &nbsp&nbsp&nbsp&nbsp
    <!-------------------- HACER FUNCION DE IMPRIMIR ------------>
    <button onclick='print("Logger", "miTabla")'><i class="fa fa-print" aria-hidden="true"></i></button>

</p>
<table class="table content-table fixed-table" id="miTabla">
      
    <thead>
        <th>ID</th>
        <th>Evento</th>
        <th>Modulo</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Detalles</th>
        <th>Eliminar</th>
    </thead>
    <tbody id = table-body-data>
    {% for register in registers %}
    <tr>
        <td>{{ register.id }}</td>
        <td>{{ register.event }}</td>
        <td>{{ register.module }}</td>
        <td>{{ register.date }}</td>
        <td>{{ register.time }}</td>
        <td><i class="fa fa-search" aria-hidden="true"></i></td>
        <td><button onclick='deleteConfirm( {{register.id}}, "Logger" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    </tr>                
    {% endfor %}
    </tbody>
</table>
{% endblock %}