<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Theodoma Cacao | Login </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/favicon.ico') }}" >
    <!--Custom Styles and Scripts-->
    <link rel='stylesheet' type='text/css' media='screen'  href= "{{ url_for('static',filename='styles/main.css') }}">
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  
</head>
<body>
  <div class="central-box">
    <div class="login-title-box">
    <h1 class="login-title">
      Theodoma Cacao 
    </h1>
    <h2 class="login-title"> Iniciar Sesión</h2>
    </div>
    <p>{{ login_status }}</p>
    <form action="/login" method="post">
        <div class="form-group">
          <label class="login-label" for="exampleUsername">Nombre de Usuario</label>
          <input type="text" class="form-control" id="exampleUsername" aria-describedby="emailHelp" placeholder="Introduzca su Nombre de Usuario" required name="username">
          <small id="emailHelp" class="form-text login-info">Nunca compartiremos sus datos con nadie más</small>
        </div>
        <div class="form-group">
          <label class="login-label" for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduzca su Contraseña" required name="password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="unmaskPassword('exampleInputPassword1')">
          <label class="login-label" class="form-check-label" for="exampleCheck1">Mostrar Contraseña</label>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
  </div>
</body>
</html>