{% extends "base.html" %}
{% block content %}
<h3>Edit Productor Type</h3>

<form method="POST" id="edit-productor-type" action="/productor-type/edit-type/save">

  <div class="form-group">
    <input type="hidden" name = "id" value="{{ type.id }}" />
    <label>Productor type description</label>
    <input class="form-control" type="text" name="description" value="{{ type.description }}" required/>
  </div>  
<button type="submit" class="btn btn-success btn-lg mb-1">Save</button>
<a class="abord" href="/productor-type">Cancel</a>

</form>
{% endblock %}