{% extends "base.html" %}
{% block content %}
<h2>Productores</h2>
      <p>{{ status }}</p>
    <table class="table content-table fixed-table">
        
        <thead>
            <th>ID</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Fecha de Nacimiento</th>
            <th>Telefono Local</th>
            <th>Telefono Celular </th>
            <th>Dirección 1</th>
            <th>Dirección 2</th>
            <th>Tipo de Productor</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
        {% for productor in productors %}
        <tr>
            <td>{{ productor.id }}</td>
            <td>{{ productor.cedula }}</td>
            <td>{{ productor.name }}</td>
            <td>{{ productor.last_name }}</td>
            <td>{{ productor.gender }}</td>
            <td>{{ productor.date_of_birth }}</td>
            <td>{{ productor.local_phone }}</td>
            <td>{{ productor.movil_phone }}</td>
            <td>{{ productor.address_1 }}</td>
            <td>{{ productor.address_2 }}</td>
            {% for type in productor_types %}
            {% if type.id == productor.productor_type_id %}
            <td>{{ type.description }} </td>
            {% endif %}
            {% endfor %}
            <td><button onclick="window.location.href=`/productor-data/edit-productor/{{ productor.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button onclick='deleteConfirm( {{productor.id}}, "Productor" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
        </tr>    
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nuevo Productor</button>

    <section id="create-form" class="h-100" hidden="true">

        <h3>Nuevo Productor</h3>

        <form method="POST" id="create-new-productor" action="/productor-data/create">
        
        <label>Nombre</label>
        <input class="form-control" type="text" name="name" placeholder="Introduzca su Nombre" required/>                    
        <label>Apellido</label>
        <input class="form-control" type="text" name="last_name" placeholder="Introduzca su Apellido" required/>
        <label>Cédula</label>
        <input class="form-control" type="text" name="cedula" placeholder="Introduzca su numero de Cédula V-12345678"  required/>
        <label>Número de Telefono Local</label>
        <input class="form-control" type="text" name="local_phone" placeholder="Introduzca su Número de Telefono"  required/>
        <label>Número de Celular</label>
        <input class="form-control" type="text" name="movil_phone" placeholder="Introduzca su Número de Celular"  required/>
        <label>Fecha de Nacimiento</label>
        <input class="form-control" type="date" name="date_of_birth"  required/>
        <label>Dirección 1</label>
        <textarea class="form-control" name="address_1" placeholder="Escriba su dirección aquí" ></textarea>
        <label>Dirección 2</label>
        <textarea class="form-control" name="address_2" placeholder="Escriba su dirección aquí" ></textarea>
        <label>Género</label>
        <select class="form-select" name="gender" form="create-new-productor">
            <option value="" disabled>Seleccionar</option>
            <option value="male">Masculino</option>
            <option value="female">Femenino</option>
            <option value="other">Otro</option>
        </select>
        <label>Tipo de Productor</label>
        <select class="form-select" name="productor_type" form="create-new-productor">
            <option disabled>Seleccionar</option>
            {% for type in productor_types %}
            <option value="{{ type.description }}">{{ type.description }}</option>
            {% endfor %}
        </select>


        <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
        <a class="abord" onclick="hiddeForm()">Cancelar</a>

        </form>
</section>
{% endblock %}