{% extends "base.html" %}
{% block content %}
<h2>Productor Type List</h2>
<p>{{ status }}</p>
<table class="table content-table">
  
  <thead>
      <th>ID</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
  </thead>
  <tbody>
  {% for type in productor_types %}
  <tr>
    <td>{{ type.id }}</td>
    <td>{{ type.description }}</td>
    <td><button onclick="window.location.href=`/productor-type/edit-type/{{ type.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
    <td><button onclick='deleteConfirm( {{type.id}}, "Productor_type" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
  </tr>    
  {% endfor %}
  </tbody>
</table>
<button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">New Productor Type</button>

<section id="create-form" class="h-100" hidden="true">

  <h3>Create New Productor Type</h3>

  <form method="POST" id="create-new-productor-type" action="/productor-type/create">

    <div class="form-group">
      <label>Type Description</label>
      <input class="form-control" type="text" name="description" placeholder="Productor 1" required/> 
    </div>   
  <button type="submit" class="btn btn-success btn-lg mb-1">Create</button>
  <a class="abord" onclick="hiddeForm()">Cancel</a>

  </form>
</section>
{% endblock %}