{% extends "base.html" %}
{% block content %}
    <h2>Portafolio de Cosechas</h2>
    <form action="search" method="post" target="_blank">
        <p>
          Buscar: <input type="search" name="busqueda" placeholder="buscar">
        </p>       
      </form>
      
    <p>{{ status }}</p>
        <table class="table content-table">
            
            <thead>
                <th>ID</th>
                <th>Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Generar Compra</th>
                <th>Modificar</th>
                <th>Eliminar</th>
                <th>Habilitar / Cerrar</th>
                <th>Listar Compras</th>
            </thead>
            <tbody>
            {% for harvests in harvest %}
            <tr>
                <td>{{ harvests.id }}</td>
                <td>{{ harvests.description }}</td>
                <td>{{ harvests.start_date }}</td>
                <td>{{ harvests.ended_date }}</td>
                <td><button onclick="window.location.href=`/user_shopping`"><i class="fa fa-list-alt" aria-hidden="true"></i></button></td>
                <td><button onclick="window.location.href=`/harvest/edit/{{ harvests.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                <td><button onclick='deleteConfirm( {{harvests.id}}, "User_harvest" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                <td><i class="fa fa-play"></i></td>
                <!--td><i class="fa fa-ban"></i></i></td-->  
                <td><i class="fa fa-list-ul"></i></td>
            
            </tr>    
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nueva Cosecha</button>
    
        <section id="create-form" class="h-100" hidden="true">
    
            <h3>Nueva Consecha</h3>
    
            <form method="POST" id="create-new-harvest" action="/harvest/create">
            
            <label>Descripcion de Cosecha</label>
            <input class="form-control" type="text" name="description" placeholder="Cosecha Mes1 - Mes2" required/>                    
            <label>Fecha de Inicio</label>
            <input class="form-control" type="date" name="start_date"  required/>
            <label>Fecha de Fin</label>
            <input class="form-control" type="date" name="ended_date"  required/>

            
            <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
            <a class="abord" onclick="hiddeForm()">Cancelar</a>
            </form>
    </section>

{% endblock %}