{% extends "base.html" %}
{% block content %}
    <h2>Configuracion de Usuario</h2>
    <h3>Cambiar Contraseña</h3>
    <p>{{ status }}</p>
    <form action="/user-settings/update-password" method="post">
        <div class="form-group">
          <label class="login-label">Usuario: {{ session['username'] }}</label>
          <input type="password" class="form-control" aria-describedby="password" placeholder="Introduzca su Contraseña Actual" name="old_password" required>
          <input type="password" id= "new-password" class="form-control" aria-describedby="password" placeholder="Introduzca su Nueva Contraseña" required name="new_password">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" onclick="unmaskPassword('new-password')">
            <label class="login-label" class="form-check-label" for="exampleCheck1">Mostrar Nueva Contraseña</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
{% endblock %}