{% extends "base.html" %}
{% block content %}
<h2>Roles de Usuario</h2>
<p>{{ status }}</p>
<table class="table content-table">
  
  <thead>
      <th>ID</th>
      <th>Descripción</th>
      <th>Descripción en el sistema</th>
      <th>Editar</th>
      <th>Eliminar</th>
  </thead>
  <tbody>
  {% for rol in rols %}
  <tr>
    <td>{{ rol.id }}</td>
    <td>{{ rol.str_description }}</td>
    <td>{{ rol.description }}</td>
    <td><button onclick="window.location.href=`/user-rol-management/edit-rol/{{ rol.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
    <td><button onclick='deleteConfirm( {{rol.id}}, "User_rol" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
  </tr>    
  {% endfor %}
  </tbody>
</table>
<button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nuevo Rol de Usuario</button>

<section id="create-form" class="h-100" hidden="true">

  <h3>Crear Nuevo Rol de Usuario</h3>

  <form method="POST" id="create-new-user-rol" action="/user-rol-management/create">

    <div class="form-group">
      <label>Descripción de Rol</label>
      <input class="form-control" type="text" name="str_description" placeholder="Introduzca el Rol a Crear" required/>                    
      <label>Descripción de Rol en el sistema</label>
      <input class="form-control" type="text" name="description" placeholder="Descripcion del Rol" required/>                    
    </div>   
  <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
  <a class="abord" onclick="hiddeForm()">Cancelar</a>

  </form>
</section>
{% endblock %}