{% extends "base.html" %}
{% block content %}
    <h2>Perfiles de Usuario</h2>

    <form action="/user_management/search" method="post" target="_blank">
        <p>
          Buscar: <input type="search" name="busqueda" placeholder="buscar">
        </p>       
      </form>

    <p>{{ status }}</p>
    <table class="table content-table">
        
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre De Usuario</th>
            <th>Rol de Usuario</th>
            <th>Cosecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            {% for rol in rols %}
                {% if rol.id == user.user_rol_id %}
                    <td>{{ rol.description }} </td>
                {% endif %}
            {% endfor %}
            <td>{{ user.user_harvest_desc }}</td>
            
            <td><button onclick="window.location.href=`/user-management/edit-user/{{ user.id }}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button onclick='deleteConfirm( {{user.id}}, "User" )'><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
        </tr>    
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" onclick="showForm()" class="btn btn-success btn-lg mb-1">Nuevo Usuario</button>

    <section id="create-form" class="h-100" hidden="true">

        <h3>Crear Nuevo Usuario</h3>

        <form method="POST" id="create-new-user" action="/user-management/create">

          <label>Nombre</label>
          <input class="form-control" type="text" name="name" placeholder="Introduzca su Nombre" required/>                    
          <label>Apellido</label>
          <input class="form-control" type="text" name="last_name" placeholder="Introduzca Su Apellido" required/>
          <label>Nombre de Usuario</label>
          <input class="form-control" type="text" name="username" placeholder="Introduzca su Nombre de Usuario"  required/>
          <label>Correo Electronico</label>
          <input class="form-control" type="email" name="email" placeholder="email@example.com"  required/>
          <label>Contraseña</label>
          <input id="new-user-pass" class="form-control" type="password" name="password" placeholder="Introduzca su Contraseña" />
          <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="unmaskPassword('new-user-pass')">
              <label class="form-check-label" for="exampleCheck1">Mostrar Contraseña</label>
          </div>
          <label>Numero de Telefono</label>
          <input class="form-control" type="text" name="phone" placeholder="Introduzca su Numero de Telefono"  required/>
          <label>Fecha De Nacimiento</label>
          <input class="form-control" type="date" name="date_of_birth"  required/>
          <label>Dirección</label>
          <textarea class="form-control" name="address" placeholder="Introduzca su Dirección" ></textarea>
          <label>Género</label>
            <select class="form-select" name="gender" form="create-new-user">
                <option value="" disabled>Seleccionar </option>
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
                <option value="other">Otro</option>
            </select>
            <label>Rol de Usuario</label>
            <select class="form-select" name="user_rol" form="create-new-user">
                <option disabled>Seleccionar</option>
                {% for rol in rols %}
                <option value="{{ rol.description }}">{{ rol.description }}</option>
                {% endfor %}
            </select>

            <label>Cosecha</label>
            <select class="form-select" name="user_harvest" form="create-new-user">
                <option disabled>Seleccionar</option>
                {% for harvests in harvest %}
                <option value="{{ harvests.description }}">{{ harvests.description }}</option>
                {% endfor %}
            </select>


        <button type="submit" class="btn btn-success btn-lg mb-1">Crear</button>
        <a class="abord" onclick="hiddeForm()">Cancelar</a>

        </form>
</section>

{% endblock %}