{% extends "base.html" %}
{% block content %}
<h3>Editar Rol de Usuario</h3>

<form method="POST" id="create-new-user-rol" action="/user-rol-management/edit-rol/save">

  <div class="form-group">
    <input type="hidden" name = "id" value="{{ editing_rol.id }}" />
    <label>Descripcion de Rol </label>
    <input class="form-control" type="text" name="str_description" value="{{ editing_rol.str_description }}" required/>                    
    <label>Descripcion de Rol en el Sistema</label>
    <input class="form-control" type="text" name="description" value="{{ editing_rol.description }}" required/>                    
  </div>  
<button type="submit" class="btn btn-success btn-lg mb-1">Guardar</button>
<a class="abord" href="/user-rol-management">Cancelar</a>

</form>
{% endblock %}