{% extends "base.html" %}
{% block content %}
    <h2>User Management</h2>
    <section class="h-100">

                  <h3>Edit User</h3>

                  <form method="POST" id="edit-user" action="/user-management/edit-user/save">
                      
                  
                        <input class="form-control" type="hidden" name="id" value="{{ user.id }}" required/>
                      <label>Name</label>
                      <input class="form-control" type="text" name="name" placeholder="Name" value="{{ user.name }}" required/>                    
                      <label>Last Name</label>
                      <input class="form-control" type="text" name="last_name" placeholder="Last Name" value="{{ user.last_name }}" required/>
                      <label>Username</label>
                      <input class="form-control" type="text" name="username" placeholder="Username" value="{{ user.username }}"  required/>
                      <label>Email address</label>
                      <input class="form-control" type="email" name="email" placeholder="email@example.com" value="{{ user.email }}"  required/>
                      <label>Password</label>
                      <input id="edit-password" class="form-control" type="password" name="password" placeholder="Password" />
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="unmaskPassword('edit-password')">
                        <label class="form-check-label" for="exampleCheck1">Unmask password</label>
                      </div>
                      <label>Phone Number</label>
                      <input class="form-control" type="text" name="phone" placeholder="Phone Number" value="{{ user.phone }}"  required/>
                      <label>Date of Birth</label>
                      <input class="form-control" type="date" name="date_of_birth" value="{{ user.date_of_birth }}"  required/>
                      <label>Address</label>
                      <textarea class="form-control" name="address" placeholder="Type your address here..." >{{ user.address }}</textarea>

                        <select class="form-select" name="gender" form="edit-user">
                            <option value="" disabled>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>

                        <select class="form-select" name="user_rol" form="edit-user">
                            <option disabled>User Rol</option>
                            {% for rol in rols %}
                            <option value="{{ rol.description }}">{{ rol.description }}</option>
                            {% endfor %}
                        </select>
        
            
                    <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                    <a class="abord" href="/user-management">Cancel</a>
                  </form>

{% endblock %}